* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    padding: 50px;
}

.logo_small {
    background-color: rgb(15, 15, 15);
}
.nav-bar {
    width: 100%;
    height: 123px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.button_layout{
    font-family: Roboto Mono;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    height: 63px;
    transition: all 0.3s ease;
}
.button_layout:hover {
    cursor: pointer;
}
.button_layout:active {
  transform: translateY(2px); 
}
.home:hover, .products:hover, .contact:hover {
    background-color: chocolate;
}

.left_nav {
    display: flex;
    gap: 14px;
}
.right_nav {
    display: flex;
    align-items: center;
    gap: 0 14px;
}
.home {
    background: rgba(26, 26, 26, 1);
    padding: 18px 30px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
   
}

.products {
    background: rgb(15, 15, 15);
    padding: 18px 24px;
    color: rgba(179, 179, 178, 1);
    border-radius: 12px;
}

.order {
    width: 60px;
    height: 60px;
    background: rgb(26, 26, 26);
    padding: 18px;
    border-radius: 12px;
    margin-left: 50px;
}

.contact {
    background: rgba(174, 155, 132, 1);
    padding: 18px 30px;
    border-radius: 12px;
    color: rgba(15, 15, 15, 1);
}

.header {
    /* height: 1066px; */
}
.banner_image {
    position: relative;
}
.banner_image {
    img {
        width: 100%;
        height: 100%;
    }
}

.shop_now {
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%);
    padding: 18px 15px;
    width: 159px;
    height: 9%;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgba(64, 64, 64, 1);
}
.button_shop_now {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    letter-spacing: 0%;
    color: white;
    overflow: hidden;
    transition: all 0.3s;
    img {
        width: 25%;
    }
}
.button_shop_now::before {
    position: absolute;
    content: '';
    background: rgb(192, 16, 192);
    left: 40%;
    width: 40px;
    height: 300px;
    animation: rotate 1s linear infinite;
    z-index: -2;
}
.button_shop_now::after {
    position: absolute;
    content: '';
    inset: 3px;
    background: rgba(64, 64, 64, 1);
    z-index: -1;
}
.button_shop_now:active {
  translate: 2px 2px;
  background: rgb(226, 194, 11);
} 
@keyframes rotate {
    from {rotate: 0deg;} 
    to {rotate: 360deg;}
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  align-self: center;
  margin-bottom: 28px;
  grid-auto-flow: row;
  grid-template-areas:
    "styleloom styleloom prd items"
    "styleloom styleloom months satis";
}
.styleloom {
    padding: 50px;
    grid-area: styleloom;
    min-height: 461px;
    display: grid;
    gap: 30px;
    border-left: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
    border-bottom-left-radius: 30px;
    .styleloom_content {
        max-width: 550px;
    }
}

.styleloom_btm {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 14px;
    li {
        display: inline-block;
    }
}

.styleloom_button {
    display: inline-block;
    width:100%;
    padding: 18px 28px;
    border: dashed rgb(38, 38, 38);
    border-radius: 12px;    
    color: rgba(179, 179, 178, 1);
}

.styleloom_button:hover {
    background: rgba(194, 180, 163, 1);
    color: rgba(15, 15, 15, 1);
    border-color: rgba(194, 180, 163, 1);
    transition: all 1s;
}


.styleloom_btm img:hover {
    background-color: gray;
    border-radius: 15px;
    color: black;
}

.prd {
    display: grid;
    padding: 50px;
    grid-area: prd;
    border-bottom: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
}

.items {
    padding: 50px;
    grid-area: items; 
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.months {
    padding: 50px;
    grid-area: months; 
    border-bottom: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
}

.satis { 
    padding: 50px;
    grid-area: satis; 
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
    border-bottom-right-radius: 30px;
}
.p_48 {
    font-family: Roboto;
    font-size: 48px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}
.p_18 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(129, 128, 126, 1)
}

.p_22 {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.p_20 {
    font-family: Roboto Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(103, 102, 101, 1);
}

.p_24 {
    font-family: Roboto;
    font-size: 24px;
    line-height: 150%;
}
.p_50 {
    font-family: Roboto;
    font-size: 50px;
    line-height: 150%;
}
.crafting {
    width: 100%;
    height: 273px;
    display: flex;
    padding: 35px 80px;
    border: dashed rgb(38, 38, 38);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    flex-direction: column;
    justify-content: space-evenly;
}
article {
    color: white;
}
.crafting_sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.first_item {
    background: url(./icons/Icon_star.svg) no-repeat top right;
    border-left: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.second_item {
    background: url(./icons/Icon_balls.svg) no-repeat top right;
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.third_item {
    background: url(./icons/Icon_face.svg) no-repeat top right;
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.fourth_item{
    background: url(./icons/Icon_cup.svg) no-repeat top right;
    border-left: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);    
    border-bottom-left-radius: 30px;
}

.fifth_item{
    background: url(./icons/Icon_pill.svg) no-repeat top right;
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.sixth_item {
    background: url(./icons/Icon_practice.svg) no-repeat top right;
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
    border-bottom-right-radius: 30px;
}

.text_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    img {
        padding-bottom: 30px;
    }
}

.sub_container {
    height: 390px;
    background: url(./icons/Abstract_Design.svg) no-repeat right;
    border-left: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 80px;
}

.cards {
    border: dashed rgb(38, 38, 38);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-bottom: 40px;
}

.item_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    transition: transform 0.3s ease;
    .line {
        margin-bottom: 20px;
    }
    .foto {
        width: 100%;
        transition: transform 0.5s ease;
    }
    .foto:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
    .title_card {
        margin-top: 20px;
        .p_24 {
            word-spacing: 20px;
        }
    }
    .p_20 {
        font-family: Roboto Mono;
        font-size: 20px;
        line-height: 150%;
    }
    span {
        margin-right: 10px;
        word-spacing: 5px;
    }
    span::after {
        content: ' \2022';
    }
}
.second_card {
    border-bottom: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
    border-left: dashed rgb(38, 38, 38);
}

.third_card {
    border-bottom: dashed rgb(38, 38, 38);
}

.fourth_card {
    border-right: dashed rgb(38, 38, 38);
    border-top: dashed rgb(38, 38, 38);
}

.fifth_card {
    border-right: dashed rgb(38, 38, 38);
}

.line {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.button_shop_now_card {
    position: relative;
    border-radius: 12px;
    display: flex;
    padding: 18px 15px;
    width: 159px;
    height: 63px;
    justify-content: space-between;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    letter-spacing: 0%;
    color: white;
    background-color: rgba(64, 64, 64, 1);
    z-index: 1;
    overflow: hidden;
    img {
        width: 25px;
    }
}

.questions {
    height: 390px;
    background: url(./icons/Abstract_Design_bottom.svg) no-repeat right top;
    border: dashed rgb(38, 38, 38); 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 80px;
}

.have_question:hover {
    color: chocolate;
    transition: all 0.3s;
}

.questions_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0;
    column-gap: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 36px;
}

.questions_bottom_cnt {
    padding: 60px;
    .title_quetion {
        margin-bottom: 16px;
    }
}

.border_q1, .border_q3, .border_q5 {
    border-left: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
}

.border_q2, .border_q4, .border_q6 {
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.border_q5 {
    border-bottom-left-radius: 30px;
}

.border_q6 {
    border-bottom-right-radius: 30px;
}

.footer_logo {
    height: 346px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
    span {
        margin-left: 20px;
    }
}
.social_media {
    position: relative;
    bottom: 20%;
}
.instagram{
    position: absolute;
    right: 258px;
    animation: lift 1s infinite linear 0.2s;
}

.soccer_ball {
    position: absolute;
    right: 172px;
    animation: lift 1s infinite linear 0.3s;
}

.twiter {
    position: absolute;
    right: 86px;
    animation: lift 1s infinite linear 0.4s;
}

.Bb {
    position: absolute;
    right: 0;
    animation: lift 1s infinite linear 0.5s;
}

@keyframes lift {
    0% { transform: translateY(30px);}
    50% { transform: translateY(0);}
    100% { transform: translateY(30px);}
}

.home_products_subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    border-bottom: dashed rgb(38, 38, 38);
    .p_22 {
        margin-bottom: 30px;
    }
}

.home_products_subscribe, .title_products {
    span {
        display: inline-block;
        transition: transform 0.2s ease-in-out;
    }
    span:hover{
    display: inline-block;
    transform: scale(1.1);
    color: rgb(163, 161, 161);
    }
    small::after {
        content: ' \2022\ ';
    }

}

.box_email {
    width: 25%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.box_input {
    position: relative;
    &::after {
        position: absolute;
        left: 90%;
        top: 50%;
        transform: translateY(-25%);
        width: 50%;
        height: 50%;
        content: '';
        background-image: url(./icons/Vector.svg);
        background-repeat: no-repeat;
    }
    input {
        display: block;
        height: 63px;
        width: 100%;
        padding: 24px;
        word-spacing: 5px;
        border: none;
        background-color: rgba(26, 26, 26, 1);
        border-radius: 12px;
    }
}

.at_the_very_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 127px;
    .border {
        margin: 0 5px;
        border-right: 2px solid rgba(38, 38, 38, 1);
    }
}