* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    padding: 50px;
}
p {
    color: white;
}

.logo_small {
    background-color: rgb(15, 15, 15);
}
.nav-bar {
    width: 100%;
    height: 123px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.button_layout{
    font-family: Roboto Mono;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    height: 63px;
    transition: all 0.9s ease;
}
.button_layout:hover {
    cursor: pointer;
}
.button_layout:active {
  transform: translateY(2px); 
}
.home:hover, .products:hover, .contact:hover {
    background-color: chocolate;
}

.left_nav {
    display: flex;
    gap: 14px;
}
.right_nav {
    display: flex;
    align-items: center;
    gap: 0 14px;
}
.home {
    background: rgba(26, 26, 26, 1);
    padding: 18px 30px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
   
}

.products {
    background: rgb(15, 15, 15);
    padding: 18px 24px;
    color: rgba(179, 179, 178, 1);
    border-radius: 12px;
}

.order {
    width: 60px;
    height: 60px;
    background: rgb(26, 26, 26);
    padding: 18px;
    border-radius: 12px;
    margin-left: 50px;
}

.contact {
    background: rgba(174, 155, 132, 1);
    padding: 18px 30px;
    border-radius: 12px;
    color: rgba(15, 15, 15, 1);
}

.header {
    /* height: 1066px; */
}
.banner_image {
    position: relative;
}
.banner_image {
    img {
        width: 100%;
        height: 100%;
    }
}

.shop_now {
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%);
    padding: 18px 24px;
    width: 10%;
    height: 9%;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgba(64, 64, 64, 1);
}
.button_shop_now {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    letter-spacing: 0%;
    color: white;
    overflow: hidden;
    img {
        width: 25%;
    }
}
.button_shop_now::before {
    position: absolute;
    content: '';
    background: rgb(192, 16, 192);
    left: 40%;
    width: 40px;
    height: 300px;
    animation: rotate 1s linear infinite;
    z-index: -2;
}
.button_shop_now::after {
    position: absolute;
    content: '';
    inset: 3px;
    background: rgba(64, 64, 64, 1);
    z-index: -1;
}
.button_shop_now:active {
  translate: 2px 2px;
  background: blueviolet;
} 
@keyframes rotate {
    from {rotate: 0deg;} 
    to {rotate: 360deg;}
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  align-self: center;
  margin-bottom: 28px;
  grid-auto-flow: row;
  grid-template-areas:
    "styleloom styleloom prd items"
    "styleloom styleloom months satis";
}
.styleloom {
    padding: 50px;
    grid-area: styleloom;
    min-height: 461px;
    display: grid;
    gap: 30px;
    border-left: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
    border-bottom-left-radius: 30px;
    .styleloom_content {
        max-width: 550px;
    }
    .styleloom_btm li{
        display: inline;
        margin-right: 14px;
        img {
            transition: all 1s ease;
        }        
    a {
        color: rgba(179, 179, 178, 1);
    }        
    }
}
.styleloom_btm img:hover {
    background-color: gray;
    border-radius: 15px;
}


.prd {
    display: grid;
    padding: 50px;
    grid-area: prd;
    border-bottom: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
}

.items {
    padding: 50px;
    grid-area: items; 
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.months {
    padding: 50px;
    grid-area: months; 
    border-bottom: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
}

.satis { 
    padding: 50px;
    grid-area: satis; 
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
    border-bottom-right-radius: 30px;
}
.p_48 {
    font-family: Roboto;
    font-size: 48px;
    text-transform: uppercase;
}
.p_18 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(129, 128, 126, 1)
}
.p_24 {
    font-family: Roboto;
    font-size: 24px;
    line-height: 150%;
}
.p_50 {
    font-family: Roboto;
    font-size: 50px;
    line-height: 150%;
}
.crafting {
    width: 100%;
    height: 273px;
    display: flex;
    padding: 35px 80px;
    border: dashed rgb(38, 38, 38);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    flex-direction: column;
    justify-content: space-evenly;
}
article {
    color: white;
}
.crafting_sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.icons {
    /* display: flex;
    justify-content: space-between; */
}

.first_item {
    height: 400px;
    background: url(./icons/Icon_star.svg) no-repeat top right;
    border-left: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.second_item {
    background: url(./icons/Icon_balls.svg) no-repeat top right;
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.third_item {
    background: url(./icons/Icon_face.svg) no-repeat top right;
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.fourth_item{
    background: url(./icons/Icon_cup.svg) no-repeat top right;
    border-left: dashed rgb(38, 38, 38);
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);    
    border-bottom-left-radius: 30px;
}

.fifth_item{
    background: url(./icons/Icon_pill.svg) no-repeat top right;
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
}

.sixth_item {
    background: url(./icons/Icon_practice.svg) no-repeat top right;
    border-right: dashed rgb(38, 38, 38);
    border-bottom: dashed rgb(38, 38, 38);
    border-bottom-right-radius: 30px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-around;
    align-items: self-start; */
}

.text_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    img {
        padding-bottom: 30px;
    }
    /* gap: 90px; */
}